*{
    box-sizing: border-box;

}
main{
    background-color: #E5E5E5;
    border: 1px solid black;
    width: 800px;
    height: 800px;
    padding:250px;
}

.container{
    border:3px solid rgb(255, 255, 255);
    display: grid;
    grid-template-rows:repeat(2,1fr);
    
    width:252px;
    height: 400px;

}
.container2{
    border:1px solid white;
    height:345px;
    width: 245px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 3px;
}
.box{
    border:2px solid white;
    background-color: #F7F7F7;;
    width:245px;
    height: 50px;
}
button{
  
    border:1px solid white;
    border-radius: 0%;
    font-size: large;
}
.symbol{
 color: rgb(255, 0, 0);
 background-color:#C5C5C5; 
}
.equal{
    color: #28800A;;
    background-color:#C5C5C5; ;
}